<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item">
      <a
        routerLink="/"
        routerLinkActive="navbar__linkActive"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >
    </li>
    <li class="navbar__item">
      <a routerLink="/portafolio" routerLinkActive="navbar__linkActive"
        >Portafolio</a
      >
    </li>
    <li class="navbar__item">
      <a routerLink="/contacto" routerLinkActive="navbar__linkActive"
        >Contacto</a
      >
    </li>
  </ul>
</nav>
