<section class="aboutMe">
  <app-heading [text]="'Sobre Mí'"></app-heading>
  <div class="aboutMe__content">
    <p class="aboutMe__text">
      Hola soy Jair apasionado por el desarrollo web y el aprendizaje,
      actualmente estudio en plataformas de educación en línea.
    </p>
    <p class="aboutMe__text">
      Mi alta curiosidad me permite aprender fácilmente nuevas tecnologías y
      herramientas, disfruto en compartir mis conocimientos ayudando a otros
      cuando es posible, ya que es una buena forma de apoyar a los demás y me
      permite aprender más sobre la tecnología que estoy enseñando.
    </p>
  </div>

  <app-button
    [type]="'button'"
    [model]="'ghost'"
    [size]="'normal'"
    [value]="'Descargar CV'"
    [href]="'./assets/files/CV_JairTelloVargas.pdf'"
  ></app-button>
</section>
